
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

<h1 id="yo" class="yo-add">Type your heart out and hit Enter.</h1>

<style>
.yo-add{
    color:black;
    transition:1s all;
    font-family:arial;
}
.yo-add2{
    color:#c71b4f;
}

*:focus {
    outline: none;
}

body{
    padding:50px 50px;
}

input{
    border:0px;
    font-size: 190px;
    width:100%;
}
</style>
<input type="text" autofocus/>
<script>

    var yoAdd = document.querySelector("#yo");
    
    setInterval(function(){
        yoAdd.classList.toggle("yo-add2");
    },1000);


    var input = document.querySelector("input");
    
    input.addEventListener("change", function(){
        responsiveVoice.speak(input.value);
    });

</script>




