<div>
    <button>Click me hard Onii-Chan</button>
    <p>Come on do it...</p>
</div>

<img src="../1.gif">
<style>

    div{
        position: relative;;
    }

    img{
        position: absolute;;
        width:100%;
        height:auto;
        display: none;


    }

    .image-toggle{
        display:block;
    }

    p{
        font-family:Helvetica;
    }

</style>

<script>

    var button = document.querySelector("button");
    var paragraph = document.querySelector("p");
    var image = document.querySelector("img");

    button.addEventListener("click", function(){
        paragraph.textContent = "YESSS. HARDER.";
        image.classList.toggle("image-toggle");
    });
    
</script>