<p>Click Me</p>
<ul>

    <li>asdasdasd</li>
    <li>asdasdasd</li>
    <li>asdasdasd</li>
    <li>asdasdasd</li>
    <li>asdasdasd</li>

</ul>

<style>

    ::selection{
        background-color: rgba(0,0,0,0);
    }

    .pink{
        color:pink;
    }

</style>

<script>

    var par = document.querySelector("p");

    par.addEventListener("click", function(){
        this.textContent = "Not actually me, the li's, loser";
    });



    var lis = document.querySelectorAll("li");

    for(var i = 0; i < lis.length; i++){
        lis[i].addEventListener("click", function(){
            this.classList.toggle("pink");
        });
    }

</script>