body{
    background-color: #232323;
}

.square{
    width:30%;
    background-color: #f2f2f2;
    padding-bottom:30%;
    float:left;
    margin:1.66%;
    border-radius: 10px;
}

#container{
    margin:0 auto;
    max-width: 600px;
}

h1{
    color:white;
}

span{
    color:white;
}