.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  

}

  .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    

  }


.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    opacity: 0;
    transition: opacity .5s;
  }


body {
	margin: 0px;
	/*
	background-image: url(images/bg/transparent.png);
	*/
	background-color:#FBFBFB;
	overflow-x:hidden;
}
.hero {
	height: 500px;
}
.hero {
	text-align: center;
}
.profile-image {
	height: 250px;
	width: 250px;
	background-color: #D7D7D7;
	background-image: url(images/home/aniface.gif);
	background-size: cover;

	position: relative;
	top: 125px;
	text-align: center;


	display: inline-block;
	margin: 0 auto;
}
.profile-text {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	top: 50px;

		background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
			padding:40px;
		border-radius:10px;
	box-shadow:0px 0px 50px rgba(0,0,0,0.3);
	border: solid 3px rgba(255,255,255,0.7);
}
.profile-text h1 {
	font-family: "azo-sans-uber";
}
.profile-text h4 {
	margin-top: -25px;
	font-family: "azo-sans-web", sans-serif;
	font-style: italic;
	font-weight: 200;
	font-size: 15px;
}
.profile-text p {
	font-family: "azo-sans-web", sans-serif;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: -20px;
	letter-spacing: 2px;
		margin-bottom:0px;
}
.apricity-sub {
	
	/*background: linear-gradient(141deg, #E5E532 0%, #D620CA 100%);*/
	color: #333;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	box-shadow:0px -10px 30px rgba(0,0,0,0.1);
	position:relative ;
	overflow:hidden;
	background-color:white;
	


}
.finite-sub {
	background-color: white;
	box-shadow:0px -10px 30px rgba(0,0,0,0.1);
	color:#333;

}
.finite-sub p{
	margin:0;
}
.finite-main {
	background: linear-gradient(141deg, #421E89 0%, #A71BB7 100%);
	color: white;
	text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.finite-logo {
	max-width: 300px;
	padding:60px;
	display:block;
	margin:0 auto;
}
.apricity-logo{
	max-width: 300px;
	padding:60px;
	display:block;
	margin:0 auto;
}
.connect-title h3{
	color:white;
	font-family: "cheap-pine-sans";
	font-size:40px;
	margin:0px;

}
.connect-title hr{
	color:white;
	margin-top:20px;
	margin-bottom:20px;
	max-width:30%;
}
.sub-hero{
	background-color:white;
}



.apricity-main{
	background: linear-gradient(141deg, #f4b773 0%, #f06d80 51%, #ed248c 75%);
}





.a-water{
	position:absolute;
	bottom:0;
	z-index:46;	
	left:0;
	right:0;
	width:100%;
	height:30px;
	
	display:none;
}
.a-sun{
	position:absolute;
	bottom:0;
	z-index:45;	
	
	left: 0;
	right: 0;

	margin-left: auto;
 	margin-right: auto;
	max-width: 500px;
	
	display:none;
}

.mou-right{
	position:absolute;
	bottom:-17px;
	z-index:47;	
		right:0;
	max-width: 600px;
	
	display:none;
}
.mou-left{
	position:absolute;
	bottom:-15px;
	z-index:50;	
	left:0;
	max-width: 600px;
	
	display:none;
}

