/* MAIN NAVIGATION */
.nav {
	text-align: center;
	box-shadow:0px 3px 20px rgba(0,0,0,0.1);
	padding: 20px;
	background-color:rgba(255,255,255,1);
	position:relative;
	z-index:200;
}
.nav h1 {
	color: #2cb5e8;
	margin: 0px;
	font-size: 50px;
	font-weight: normal;
	font-family: "cheap-pine-sans";
}
.linkbar {
	font-family: "ff-speak-web";
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
}
.linkbar a {
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 6px!important;
	border-radius: 50px;
	transition: 0.2s all;
	background-color:transparent;
	text-decoration: none;
	color:black;
}
.linkbar a:hover {
	background-color:#2cb5e8;
	color: white;
}
.navcolor{
	height:3px;
	width:100%;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	position:absolute;
	top:159px;
	right:0;
	left:0;
}
/* MAIN FOOTER */

.footer {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	box-shadow:0px -3px 20px rgba(0,0,0,0.1);
}
.footer-info{
	box-shadow:0px -6px 30px rgba(0,0,0,0.2);
	padding:20px;
}
.footer-info p{
	color:white;
	margin:0px;
	text-align:center;
	  font-family: "ratio";

}
.connect {
	text-align:center;
	background-color:white;
}
.connect a {
	font-family: "ff-speak-web";
	font-size: 18px;
	display:inline-block;
	color:#333;
	text-decoration: none;
	padding: 14px;
}
.connect a:hover{
	color:#18BBC3;
}
.connect .we{
	margin-left:-3px;
	transition:0.5s all;
	opacity:0;
}
.connect a:hover .we{
	margin-left:5px;
	opacity:1;
}

.footer-ad{
	display:block;
	margin: 0 auto;
	text-align: center;
}
.home-logo{
	display:block;
	margin:0 auto;
	margin-bottom:25px;
	max-width:400px;
}