/* MAIN NAVIGATION */
.nav {
	text-align: center;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
	padding: 20px;
}
.nav h1{
	color: #333;
	margin:0px;
	font-size: 50px;
	font-weight:normal;
	font-family: "cheap-pine-sans";
}
.linkbar {
	font-family: "ff-speak-web";
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 10px;
}
.linkbar a {
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 6px!important;
	border-radius: 50px;
	transition: 0.2s all;
}
.linkbar a:hover {
	background-color: #FF055C;
	color: white;
}

/* MAIN FOOTER */

.footer {
	background-color: #FF055C;
	color: white;
	padding: 50px;
}
.connect {
	padding: 30px;
}
.connect a {
	font-family: "ff-speak-web";
	font-size: 20px;
}
.connect-title {
	font-family: "cheap-pine";
	font-size: 40px;
}
