<div class="fuck">
	Fuck Off
</div>
<style>
	.fuck{
	color:white;
		font-size:200px;
		text-align:center;
		padding-top:600px;
	background-image:url(giphy.gif);
	background-size:cover;
	width:100vw;
	height:100vh;
	
	}
</style>