body{
    background-color:black;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position: absolute;
}

img{
    display: block;
    position: relative;
    width:100%;
    height: auto;
    max-width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    top:25%;
    animation: glow 5s infinite;
}


@keyframes glow {
    0% {filter: drop-shadow(0px 0px 100px rgba(250,75,148,1));}
    50% {filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.3));}
    100% {filter: drop-shadow(0px 0px 100px rgba(250,75,148,1));}
  
}